@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@media print {
  nav,
  .print\:hidden {
    display: none !important;
  }

  body {
    background: white !important;
  }
}
